<div id="wrap">
	<div id="top">
			<div class="rights">	</div>
			<div id="search">		</div>
			<div class="lefts">
				<h1>扇贝基因组数据库测试系统</h1>
				<h2>Ocean University Of China</h2>
			</div>
	</div>
		
	<div id="topmenu">
		<div class="rights"></div>
		<div class="lefts">
			<ul>
			<li><a href="__APP__/Home/Index/index.html" title="home">HOME</a></li>
			<li><a href="__APP__/Home/Search/index.html" title="Search">SEARCH</a></li>
			<li><a href="#" title="Blast">BLAST</a></li>
			<li><a href="#" title="Test">GBrowser</a></li>
			<li><a href="#" title="Test">WiKi</a></li>
			<li><a href="#" title="Abous us">ABOUTS US</a></li>
			<li><a href="#" title="Contact">CONTACT</a></li>
			</ul>
		</div>
	</div>