<extend name="Public/common" />
<block name="body">
    	
    	<div>
    		<table border="0" align="center">
	    		<tr>
		    		<th>ID.num</th>
		    		<th>NAME</th>
		    		<th>DETAIL</th>
	    		</tr>
    		<foreach name='list' item='v'>
    			<tr>
    				<td align="center">{$v.bioentry_id}</td>
    				<td align="center">{$v.length}</td>
    				<td align="center"><a href="__URL__/detail/name/{$v.name}">detail</a></td>
    			</tr>
				<!--
				<a herf="__APP__/Search/detail"> {$v.bioentry_id}.{$v.name} </a>
				<a href="http://www.baidu.com">baidu</a><br/> 
				<a href="__URL__/detail">detail</a> <br/>
				-->
 
			</foreach>
			</table>
    	</div>
    
</block>
 